* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}
.campus-col img{
    height: 300px;
    width: 300px;
}
.layer a {
    padding: 10px 20px;
    text-decoration: none;
    background: #000;
    color: white;
    transition: .5s;
}

.layer a:hover {
    background: white;
    color: black;
}