body {
    background: blueviolet;
}
h1{
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
}
.container {
    background: rgba(225, 225, 225, 0.1);
    padding: 10px;
}

.question {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: rgba(240, 240, 240, 0.2);
    transition: .5s;
}

.question:hover {
    background-color: rgb(9, 45, 59);
    color: wheat;
}

.option {
    display: block;
    margin: 5px 0;
    cursor: pointer;
}

.feedback {
    display: inline-block;
    min-width: 40px;
    padding: 5px;
    margin-left: 10px;
}

/* Add CSS for the modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7e4a4a;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 1em;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#submit-button {
    padding: 10px 20px;
    background: rgb(9, 45, 59);
    color: white;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    letter-spacing: 1.5px;
    font-weight: 1000;
    transition: .5s;
}

#submit-button:hover {
    padding: 10px 20px;
    background: rgb(2, 20, 27);
    color: white;

}

#cancel-button {
    padding: 10px 20px;
    background: rgb(81, 129, 148);
    color: black;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    letter-spacing: 1.5px;
    font-weight: 1000;
    transition: .5s;
    cursor: pointer;
}

#popup-buttons button {
    padding: 10px 20px;
    margin: 10px;

}

#rewrite-test {    cursor: pointer;

    background: rgba(104, 44, 138, 0.5);
}

#next-lesson {    cursor: pointer;

    background: rgba(225, 225, 225, 0.5);
}